@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	scroll-behavior: smooth;
}

/* VARIABLES */

/* Colors */
:root {
	--primary-color-orange: hsl(26, 100%, 55%);
	--primary-color-pale-orange: hsl(25, 100%, 94%);
	--very-dark-blue: hsl(219, 9%, 45%);
	--dark-grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white-color: hsl(0, 0%, 100%);
	--black-color: hsl(0, 0%, 0%);
	--lightbox-color: hsl(0, 0%, 75%);
}

.header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: var(--white-color);
	width: 100%;
	height: 80px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 100px 0;
	height: 100%;
	border-bottom: 1px solid var(--lightbox-color);
}

.hamburger-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.hamburger-group-icon {
	width: 15px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	cursor: pointer;
	display: none;
	padding-top: 4px;
}

.line {
	background-color: var(--very-dark-blue);
	width: 100%;
	height: 3px;
}

.logo {
	font-weight: 700;
	font-size: 32px;
	cursor: pointer;
}

.sections {
	display: flex;
	align-items: center;
	gap: 40px;
	height: 100%;
}

.page-sections {
	display: flex;
	gap: 20px;
	padding-top: 30px;
	height: 100%;
}

.page-sections h4 {
	cursor: pointer;
	color: var(--very-dark-blue);
}

.page-sections h4:hover {
	border-bottom: 3px solid var(--primary-color-orange);
}

.cart-profile {
	display: flex;
	align-items: center;
	gap: 40px;
	cursor: pointer;
}

.cart_group {
	position: relative;
}

.cart_count {
	position: absolute;
	top: -4px;
	left: 6px;
	width: 15px;
	border-radius: 30%;
	text-align: center;

	background-color: var(--primary-color-orange);
	color: #fff;
	font-size: 10px;
	font-weight: 700;
}

.profile {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 2px solid transparent;
}

.profile:hover {
	border: 2px solid var(--primary-color-orange);
	border-radius: 50%;
}

.mobile_menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	display: none;
	background-color: rgba(0, 0, 0, 0.527);
}

.slide_menu {
	background-color: #fff;
	padding: 25px;
	width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.slide_menu img {
	width: 20px;
	height: 20px;
}

.slide_menu ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.slide_menu ul li {
	font-weight: 600;
	color: var(--very-dark-blue);
}

.product {
	position: relative;
	top: 120px;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 100px;
	margin-bottom: 1000px;
}

.slide_button {
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.previous_icon {
	position: absolute;
	top: 19%;
	left: 15px;
}

.next_icon {
	position: absolute;
	top: 19%;
	right: 15px;
}

.product_images {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.main_image {
	display: none;
}
.main-image {
	width: 360px;
	height: 360px;
	border-radius: 15px;
}

.other-images {
	position: relative;
	display: flex;
	gap: 5px;
}

.other-image {
	width: 85px;
	border-radius: 6px;
	cursor: pointer;
	border: 2px solid transparent;
}

.other-image:hover,
.other-image:active {
	background-color: #fff;
	border: 2px solid var(--primary-color-orange);
}

.product_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 50px;
	gap: 30px;
}

.product_title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
	width: 300px;
}

.product_title small {
	color: var(--primary-color-orange);
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2px;
}

.product_name {
	font-size: 32px;
	font-weight: 700;
}

.product_description {
	color: var(--very-dark-blue);
	width: 320px;
}

.product_description p {
	font-size: 12px;
}

.product_price {
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.price {
	display: grid;
	gap: 10px;
}

.price_discount {
	font-weight: 700;
	letter-spacing: 2px;
}

.price_original {
	color: var(--very-dark-blue);
	text-decoration: line-through;
	font-size: 12px;
}

.discount {
	background-color: var(--primary-color-pale-orange);
	height: 15px;
	padding: 1px 5px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.discount small {
	color: var(--primary-color-orange);
	font-weight: 600;
	font-size: 12px;
}

.product_add-to-cart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.product_count {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--light-grayish-blue);
	height: 30px;
	width: 100px;
	border-radius: 8px;
}

.count {
	font-size: 18px;
}

.btn {
	border: none;
	background-color: var(--light-grayish-blue);
	color: var(--primary-color-orange);
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	display: flex;
}

.add-to-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: none;
	background-color: var(--primary-color-orange);
	width: 140px;
	height: 30px;
	border-radius: 5px;

	cursor: pointer;
}

.add-to-cart p {
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.add-to-cart img {
	fill: white;
	width: 15px;
}

.cart_container {
	background-color: #fff;
	width: 300px;
	height: 200px;
	border-radius: 8px;

	-webkit-box-shadow: -9px 6px 28px -1px rgba(140, 140, 140, 1);
	-moz-box-shadow: -9px 6px 28px -1px rgba(140, 140, 140, 1);
	box-shadow: -9px 6px 28px -1px rgba(140, 140, 140, 1);

	position: fixed;
	top: 50px;
	right: 70px;
	z-index: 100;
	display: none;
}

.show_cart {
	display: block;
}

.cart_header {
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid var(--dark-grayish-blue);
}

.cart_header small {
	font-size: 14px;
	font-weight: 700;
}

.cart_contents {
	padding: 20px;
	display: grid;
	gap: 30px;
	display: none;
}

.show_contents {
	display: grid;
}

.cart_contents_product {
	display: flex;
	gap: 15px;
	align-items: center;
}

.cart_content-image {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.detail_title {
	font-size: 13px;
	color: var(--very-dark-blue);
}

.detail_price {
	display: flex;
	align-items: center;
	gap: 15px;
}

.single_price,
.detail_quantity {
	color: var(--very-dark-blue);
	font-size: 13px;
}

.times {
	height: 10px;
}

.total_price {
	font-size: 13px;
	font-weight: 700;
}

.checkout_btn {
	width: 260px;
	height: 40px;
	color: #fff;
	border: none;
	border-radius: 8px;
	background-color: var(--primary-color-orange);

	font-size: 14px;
	font-weight: 700;
}

.empty_cart {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.hide_empty_cart {
	display: none;
}

.empty_cart h4 {
	font-size: 14px;
	font-weight: 700;
	color: var(--very-dark-blue);
}

/* MEDIA SCREENS */

@media screen and (max-width: 375px) {
	.header {
		height: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav {
		height: auto;
		padding: 0;
		margin: 0;
		border: none;
	}

	.hamburger-group-icon {
		display: flex;
	}

	.logo {
		font-size: 24px;
	}

	.show_menu {
		display: block;
	}

	.cart-profile {
		gap: 15px;
	}

	.profile {
		width: 30px;
		height: 30px;
	}

	.page-sections {
		display: none;
	}

	.product {
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		margin-bottom: 100px;
		top: 60px;
		gap: 20px;
	}

	.product_images {
		width: 100%;
		align-items: flex-start;
	}
	.image {
		width: 100%;
		height: 300px;
	}

	/* .main_image {
		display: block;
	} */

	.main-image {
		width: 100%;
		height: 300px;
		border-radius: 0;
	}

	.other-images {
		display: none;
	}

	.slide_button {
		display: flex;
	}

	.product_info {
		margin: 0;
		margin-left: 30px;
		gap: 10px;
		align-items: flex-start;
	}

	.product_title {
		gap: 5px;
		width: 200px;
	}

	.product_title small {
		font-size: 10px;
	}

	.product_name {
		font-size: 16px;
	}

	.product_description {
		width: 230px;
	}

	.product_description p {
		font-size: 10px;
	}

	.product_price {
		position: relative;
		gap: 8px;
		width: 100%;
	}

	.price_original {
		position: absolute;
		right: 30px;
	}

	.discount {
		position: absolute;
		top: 3px;
		left: 80px;
	}

	.product_add-to-cart {
		flex-direction: column;
	}

	.product_count {
		width: 220px;
	}

	.add-to-cart {
		width: 220px;
	}

	.add-to-cart p {
		font-weight: 500;
		font-size: 10px;
	}

	.cart_container {
		top: 70px;
		right: 7px;
		width: 360px;
	}
}
