@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body * {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
}

html {
	font-size: 18px;
}

/* VARIABLES */

:root {
	/* COLORS */
	--soft-red: hsl(10, 79%, 65%);
	--cyan-color: hsl(186, 34%, 60%);
	--dark-brown: hsl(25, 47%, 15%);
	--medium-brown: hsl(27, 66%, 92%);
	--very-pale-orange: hsl(33, 100%, 98%);
}

/* STYLING */

.header {
	background-color: var(--soft-red);
	width: 90%;
	margin: auto;
	margin-top: 30px;
	border-radius: 8px;
	padding: 20px;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.balance {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.balance_title {
	color: #fff;
}

.balance_figures {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
}
