@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	background-color: #fdf5f5;
}

body * {
	line-height: 1.4;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

:root {
	--blue-color: rgb(8, 169, 243);
	--blue-heading: rgb(0, 8, 31);
	--text-color: rgb(97, 97, 97);
}

.btn {
	padding: 8px;
	color: #fff;
	text-decoration: none;
}

.focus {
	background-color: var(--blue-color);
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	background: transparent;
	padding-top: 15px;
	z-index: 100;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav_left {
	display: flex;
	gap: 50px;
	align-items: center;
}

.logo {
	color: #fff;
	font-weight: bold;
	font-size: 2.4rem;
}

.page_links {
	display: flex;
	gap: 10px;
	align-items: center;
	list-style-type: none;
}

.page_links li a {
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
	font-weight: medium;
}

.nav_right {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav_right a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: medium;
}

.register {
	padding: 8px;
	background-color: var(--blue-color);
	border-radius: 8px;
}

.hero {
	background-image: url("./images/hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	background-color: #000;
	height: 120vh;
	color: white;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.562);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 110px;
	margin-bottom: 90px;
}

.hero_heading {
	font-size: 3.6rem;
	text-transform: capitalize;
	font-weight: bolder;
	text-align: center;
}

.hero_text {
	text-align: center;
	font-size: 1.6rem;
}

.hero_links {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.hero_links a {
	border-radius: 30px;
	text-transform: capitalize;
	padding: 10px 20px;
	font-weight: medium;
	font-size: 1.4rem;
}

.learn {
	border: 1px solid white;
}

.hero_benefits {
	position: absolute;
	top: 89%;
	display: flex;
	gap: 15px;
	z-index: 1;
}

.hero_benefit {
	padding: 30px;
	width: 300px;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: 8px;

	-webkit-box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
	-moz-box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
	box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
}

.hero_benefit i {
	font-size: 2.4rem;
}

.focus {
	background-color: var(--blue-color);
}

.other i {
	color: var(--blue-color);
}

.hero_benefit-heading {
	color: var(--blue-heading);
	font-size: 1.8rem;
	font-weight: 600;
}

.hero_benefit-text {
	color: var(--text-color);
	font-size: 1.4rem;
}

.focus i,
.focus h4,
.focus p {
	color: white;
}

.benefits {
	margin-top: 150px;
	background-color: #fff;
	padding: 50px 0;
	margin-bottom: 50px;
}

.benefits_container {
	display: flex;
	justify-content: center;
}

.benefit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 400px;
}

.benefit * {
	text-align: center;
}

.benefit_content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.benefit i {
	color: var(--blue-color);
	font-size: 3.2rem;
}

.benefit_heading {
	text-align: center;
	color: var(--blue-heading);
	font-size: 1.8rem;
	font-weight: 600;
}

.benefit_text {
	font-size: 1.6rem;
	color: var(--text-color);
}

.industry {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin-bottom: 50px;
}

.industry_intro {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.industry_header {
	color: var(--blue-heading);
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
}

.industry_text {
	color: var(--text-color);
	font-size: 1.6rem;
	text-align: center;
}

.industry_cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid rgb(219, 219, 219);
	padding: 15px;
}

.card_image {
	width: 100px;
}

.card_text {
	text-align: center;
	color: var(--text-color);
}

.card_rating i {
	color: orange;
}
