@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	background-color: #fdf5f5;
}

body * {
	line-height: 1.4;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

:root {
	--blue-color: rgb(8, 169, 243);
	--blue-heading: rgb(0, 8, 31);
	--text-color: rgb(97, 97, 97);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--blue-heading);
}

.btn {
	padding: 8px;
	color: #fff;
	text-decoration: none;
}

.focus {
	background-color: var(--blue-color);
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	padding-top: 15px;
	z-index: 100;
}

.header_scroll {
	background-color: var(--blue-heading);
	padding-bottom: 15px;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav_left {
	display: flex;
	gap: 50px;
	align-items: center;
}

.logo {
	color: #fff;
	font-weight: bold;
	font-size: 2.4rem;
}

.page_links {
	display: flex;
	gap: 15px;
	align-items: center;
	list-style-type: none;
}

.page_links li a {
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
	font-weight: medium;
}

.nav_right {
	display: flex;
}

.nav_right .links {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav_right a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: medium;
}

.register {
	padding: 8px;
	background-color: var(--blue-color);
	border-radius: 8px;
}

.menu {
	display: none;
}

.menu i {
	color: #fff;
	font-size: 1.6rem;
}

.hero {
	background-image: url("./images/hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 120vh;
	color: white;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.719);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 25px;
	margin-bottom: 90px;
}

.hero_heading {
	font-size: 3.6rem;
	text-transform: capitalize;
	font-weight: bolder;
	text-align: center;
	color: #fff;
}

.hero_text {
	text-align: center;
	font-size: 1.6rem;
}

.hero_links {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.hero_links a {
	border-radius: 30px;
	text-transform: capitalize;
	padding: 10px 20px;
	font-weight: medium;
	font-size: 1.4rem;
}

.learn {
	border: 1px solid white;
}

.hero_benefits {
	position: absolute;
	top: 91%;
	display: flex;
	gap: 15px;
	padding: 0 10px;
}

.hero_benefit {
	padding: 20px;
	width: 30%;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: 8px;

	-webkit-box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
	-moz-box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
	box-shadow: 11px 12px 48px -5px rgba(163, 161, 163, 1);
}

.hero_benefit i {
	font-size: 2.4rem;
}

.focus {
	background-color: var(--blue-color);
}

.other i {
	color: var(--blue-color);
}

.hero_benefit-heading {
	color: var(--blue-heading);
	font-size: 1.8rem;
	font-weight: 600;
}

.hero_benefit-text {
	color: var(--text-color);
	font-size: 1.4rem;
}

.focus i,
.focus h4,
.focus p {
	color: white;
}

.benefits {
	margin-top: 150px;
	background-color: #fff;
	padding: 50px 0;
	margin-bottom: 50px;
}

.benefits_container {
	display: flex;
	justify-content: center;
}

.benefit {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 400px;
}

.benefit * {
	text-align: center;
}

.benefit_content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.benefit i {
	color: var(--blue-color);
	font-size: 3.2rem;
}

.benefit_heading {
	text-align: center;
	color: var(--blue-heading);
	font-size: 1.8rem;
	font-weight: 600;
}

.benefit_text {
	font-size: 1.6rem;
	color: var(--text-color);
}

.industry {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin-bottom: 100px;
}

.industry_intro {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.industry_header {
	color: var(--blue-heading);
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
}

.industry_text {
	color: var(--text-color);
	font-size: 1.6rem;
	text-align: center;
}

.industry_cards {
	display: flex;
	gap: 20px;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid rgb(219, 219, 219);
	padding: 15px;
}

.card_image {
	width: 100px;
}

.card_text {
	text-align: center;
	color: var(--text-color);
	font-size: 1.6rem;
}

.card_rating i {
	color: orange;
}

.partners {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	width: 100%;
	margin-bottom: 100px;
}

.partner_companies {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.partner_image {
	width: 70px;
	height: 35px;
}

.subscribe {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	width: 75%;
	background: linear-gradient(to right, rgb(1, 71, 99), purple);
}

.subscribe .left p {
	color: white;
	text-transform: capitalize;
	font-size: 1.4rem;
}

.subscribe .right {
	background-color: #fff;
	border-radius: 4px;
}

.subscribe form {
	display: flex;
	border: none;
}

.subscribe form input {
	border: none;
	border-radius: 4px 0 0 4px;
	padding-left: 10px;
	outline: none;
}

.subscribe form button {
	border: none;
	border-radius: 0 4px 4px 0;
}

.pricing {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.pricing_card {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.pricing_card h5 {
	color: var(--blue-heading);
	font-weight: bold;
	font-size: 1.8rem;
	text-transform: uppercase;
	text-align: center;
}

.pricing_card p {
	color: var(--text-color);
	text-align: center;
	font-size: 1.4rem;
}

.pricing_intro {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.pricing_header {
	color: var(--blue-heading);
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
}

.pricing_text {
	color: var(--text-color);
	font-size: 1.6rem;
	text-align: center;
}

.pricing_cards {
	display: flex;
	gap: 3px;
	margin-top: 80px;
}

.pricing_card {
	border: 1px solid var(--blue-color);
	padding: 30px 20px;
	border-radius: 8px;
	height: fit-content;
}

.price_details {
	display: flex;
	gap: 10px;
	color: var(--blue-color);
	justify-content: center;
	align-items: center;
}

.price_left {
	font-size: 2.4rem;
	font-weight: bold;
}

.price_right {
	display: grid;
}

.price_right span {
	font-size: 1.6rem;
}

.card_details {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.card_detail {
	display: flex;
	align-items: center;
	gap: 5px;
}

.card_detail i {
	color: green;
	font-size: 2.4rem;
	background-color: #fff;
	border-radius: 50%;
}

.card_detail:nth-child(4) i {
	color: gray;
}

.card_detail:nth-child(5) i {
	color: gray;
}

.pricing_card a {
	text-align: center;
	border-radius: 5px;
	font-size: 1.4rem;
}

.center {
	background-color: var(--blue-heading);
	transform: scaleY(1.05);
	transform-origin: bottom;
}

.center p,
.center h5 {
	color: #fff;
}

.contact_main {
	background-color: var(--blue-heading);
	padding-top: 50px;
	position: relative;
	height: 80vh;
}

.branches {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}
.branches_text {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.branches_text h5 {
	color: #fff;
	text-transform: capitalize;
	font-size: 2.4rem;
	font-weight: bold;
}

.branches_text p {
	color: white;
	font-size: 1.6rem;
}

.branches img {
	width: 400px;
}

.form {
	width: 50%;
	position: absolute;
	top: 55%;
	left: 25%;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.form img {
	width: 30%;
	object-fit: cover;
}

.form_section {
	width: 70%;
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 20px;
}

.form_section h5 {
	text-align: center;
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--blue-heading);
}

.form_item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form_item label {
	color: var(--blue-heading);
	font-size: 1.4rem;
	font-weight: medium;
}

.form_item input,
.form_item select {
	border: 1px solid rgb(201, 201, 201);
	border-radius: 4px;
	outline: none;
	background-color: rgb(248, 248, 248);
	height: 30px;
	color: var(--text-color);
}

.option {
	color: var(--text-color);
}

.form button {
	border: none;
	font-size: 1.4rem;
	border-radius: 4px;
}

.contact_footer {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 250px auto 50px;
}

.contact_footer .text h6 {
	font-weight: bold;
	color: var(--blue-heading);
	text-transform: capitalize;
	font-size: 1.8rem;
}

.contact_footer .text p {
	font-size: 1.4rem;
	color: var(--text-color);
}

.contact_footer a {
	font-size: 1.4rem;
	border-radius: 3px;
}

.grid {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

.grid_container {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, max(200px));
}

.grid-item {
	display: grid;
	gap: 10px;
}

.grid-item h6 {
	font-size: 1.6rem;
	font-weight: 600;
}

.grid-item ul {
	display: grid;
	gap: 7px;
	align-content: center;
}

.grid-item ul a,
.grid-item ul p {
	font-size: 1.4rem;
	color: var(--text-color);
}

.contact_info ul li {
	display: flex;
	gap: 10px;
	align-items: center;
}

.contact_info ul li i {
	font-size: 1.4rem;
	color: var(--blue-color);
}

.socials {
	width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socials p {
	font-size: 1.4rem;
	color: var(--text-color);
	text-transform: capitalize;
}

.socials i {
	font-size: 1.6rem;
	color: var(--blue-color);
	margin-right: 8px;
}

/* SCREENS*/

/* Mobile devices - 480px */

@media screen and (max-width: 480px) {
	.header {
		padding: 10px 20px;
	}
	.nav {
		justify-content: space-between;
	}

	.nav_right .links {
		display: none;
	}

	.page_links {
		display: none;
	}

	.menu {
		display: flex;
	}

	.hero {
		height: 100vh;
	}

	.hero_content {
		gap: 15px;
		margin-top: 15px;
		margin-bottom: 0;
	}

	.hero_heading {
		font-size: 2.4rem;
	}

	.hero_text {
		font-size: 1.4rem;
	}

	.hero_links {
		flex-wrap: wrap;
	}

	.hero_benefits {
		display: none;
	}

	.benefits {
		margin-top: 50px;
	}

	.benefits_container {
		flex-wrap: wrap;
		gap: 20px;
	}

	.benefit {
		gap: 10px;
		width: 90%;
	}

	.benefit i {
		font-size: 2.4rem;
	}

	.benefit_heading {
		font-size: 1.6rem;
	}

	.benefit_text {
		font-size: 1.4rem;
	}

	.industry_intro {
		gap: 10px;
	}

	.industry_header {
		font-size: 1.8rem;
	}

	.industry_text {
		font-size: 1.4rem;
	}

	.industry_cards {
		flex-wrap: wrap;
		gap: 15px;
	}

	.card {
		width: 90%;
	}

	.card_text {
		font-size: 1.4rem;
	}

	.partners {
		gap: 25px;
		margin-bottom: 50px;
	}

	.partner_companies {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-content: center;
		row-gap: 10px;
	}

	.partner_image {
		width: 50px;
		height: 25px;
	}

	.subscribe {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.pricing {
		margin-bottom: 50px;
	}

	.pricing_intro {
		gap: 10px;
	}

	.pricing_header {
		font-size: 1.8rem;
	}

	.pricing_text {
		font-size: 1.4rem;
	}

	.pricing_cards {
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 30px;
	}

	.pricing_card {
		width: 80%;
		margin: auto;
	}

	.price_left {
		font-size: 1.8rem;
	}

	.price_right span {
		font-size: 1.4rem;
	}

	.center {
		transform: none;
	}

	.branches {
		flex-direction: column;
		gap: 20px;
	}

	.branches_text {
		width: auto;
	}

	.branches_text h5 {
		font-size: 1.8rem;
	}

	.branches_text p {
		font-size: 1.4rem;
	}

	.branches img {
		width: 90%;
	}

	.form {
		position: relative;
		width: 90%;
		top: auto;
		left: auto;
		margin: 30px auto;
	}

	.form_section h5 {
		font-size: 1.8rem;
	}

	.contact_footer {
		margin: 30px;
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}

	.grid_container {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}

	.socials {
		width: 90%;
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
	}
}

@media (min-width: 481px) and (max-width: 820px) {
	.header {
		padding: 10px 30px;
	}
	.nav {
		justify-content: space-between;
	}

	.nav_right .links {
		display: none;
	}

	.page_links {
		display: none;
	}

	.menu {
		display: flex;
	}

	.hero {
		height: 100vh;
	}

	.hero_content {
		margin-bottom: 50px;
		margin-top: 0;
	}

	.hero_benefits {
		display: none;
	}

	.benefits {
		margin-top: 50px;
	}

	.benefits_container {
		flex-wrap: wrap;
	}

	.industry {
		margin-bottom: 50px;
	}

	.industry_cards {
		gap: 20px;
		width: 90%;
		flex-wrap: wrap;
	}

	.partners {
		margin-bottom: 50px;
	}

	.partner_companies {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		row-gap: 20px;
	}

	.subscribe {
		flex-wrap: wrap;
		gap: 20px;
	}

	.pricing_cards {
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	.center {
		transform: none;
	}

	.branches {
		flex-direction: column;
		gap: 20px;
	}

	.form {
		position: relative;
		width: 90%;
		top: auto;
		left: auto;
		margin: 30px auto;
	}

	.contact_footer {
		margin: 30px;
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}

	.grid_container {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}

	.socials {
		width: 90%;
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
	}
}
