@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

body * {
	font-family: "Inter", sans-serif;
}

html {
	font-size: 15px;
	scroll-behavior: smooth;
}

/* Mobile  
    375px
*/

/* Desktop
    1440px
*/

/* VARIABLES */

:root {
	/* Primary Colors */

	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--orange-color: hsl(35, 96%, 51%);

	/* Neutral */
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 85%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 15px;
	z-index: 100;
	background-color: #fff;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 50px;
	height: 30px;
}

.sliding_menu {
	background-color: rgba(0, 0, 0, 0.26);
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.show_sliding_menu {
	display: block;
}

.menu {
	width: 60%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	z-index: 10;
}

.close_icon {
	position: absolute;
	right: 20px;
	top: 35px;
}

.close_icon img {
	width: 20px;
	height: 20px;
}

.mobile_links {
	position: absolute;
	left: 20px;
	top: 120px;
}

.mobile_list {
	margin-bottom: 30px;
}

.mobile_list a {
	text-decoration: none;
	color: var(--very-dark-blue);
	font-weight: 500;
	font-size: 16px;
}

/* Main */

.main {
	position: relative;
	top: 92px;
	left: 0;
	right: 0;
	padding: 0 15px 0 15px;
	margin-bottom: 150px;
}

/* Hero Section */

.hero {
	display: grid;
	gap: 30px;
	margin-bottom: 50px;
}

.hero_image img {
	width: 100%;
}

.hero_content {
	display: grid;
	gap: 20px;
}

.heading {
	color: var(--very-dark-blue);
	font-size: 40px;
	font-weight: 800;
}

.hero_text {
	color: var(--dark-grayish-blue);
	line-height: 1.6;
	font-size: 16px;
}

.btn {
	text-decoration: none;
	color: var(--off-white);
	background-color: var(--soft-red);
	width: 200px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* New News */

.new {
	display: grid;
	gap: 30px;
	background-color: var(--very-dark-blue);
	padding: 25px 15px;
	margin-bottom: 50px;
}

.new_heading {
	color: var(--soft-orange);
	font-size: 32px;
	font-weight: 800;
}

.news_content {
	display: grid;
	gap: 25px;
}

.news {
	display: grid;
	gap: 10px;
}

.news_header {
	color: var(--off-white);
	font-weight: 600;
	font-size: 18px;
}

.news_text {
	color: var(--dark-grayish-blue);
	line-height: 1.6;
	font-size: 14px;
	font-weight: 500;
}

.divider {
	height: 0.5px;
	background-color: var(--dark-grayish-blue);
}

.other {
	display: grid;
	gap: 20px;
}

.other_news {
	display: flex;
	gap: 20px;
}

.other_image {
	width: 100px;
}

.content {
	display: grid;
}

.number {
	font-size: 32px;
	font-weight: 700;
	color: var(--dark-grayish-blue);
}

.other_header {
	color: var(--very-dark-blue);
	font-weight: 600;
	font-size: 18px;
}

.other_text {
	color: var(--dark-grayish-blue);
	line-height: 1.6;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 15px 0 15px;
	background-color: var(--off-white);
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll_up-icon {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	background-color: var(--orange-color);
	position: fixed;
	bottom: 60px;
	right: 15px;
	text-decoration: none;

	display: none;
}

.show_scroll_icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

i {
	color: #fff;
}

.footer_text {
	font-size: 14px;
}

.footer_text a {
	text-decoration: none;
	color: var(--soft-orange);
}
